*{
    background-image: url(img/link.jpg);
    background-size: cover;
    font-family: 'Kanit';
}

.head{
    font-size: 8rem;
    background-image: ;
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 3rem;
}

.card{
    border: rgb(90, 94, 103) solid 5px;
    width: 30rem;
    height: 30rem;
    display: flex;
    flex-direction: column;  /* Stacks items vertically */
    justify-content: center; /* Aligns items vertically in order */
    align-items: center;     /* Aligns items horizontally */
    gap: 10px;    
    box-sizing: border-box;
    border-radius: 5rem;
    box-shadow: 10px 10px 8px 10px #717070;
}

.card-header{
    font-size: 2rem;
}

.card-image{
    width: 350px;
    height: 225px;
    opacity: 70%;
}

#blue{
    background-image: url(img/blue.jpg);
    background-position: center;
    background-size: cover;
}

#purple{
    background-image: url(img/purple.jpg);
    background-position: center;
    background-size: cover;
}

#orange{
    background-image: url(img/orange.jpg);
    background-position: center;
    background-size: cover;
}

.card:hover{
    transform: scale(1.05);
    opacity: 0.3;
}

#blue:hover{
    transform: scale(1.5);
}


