*{
    background-color: aliceblue;
}

.container{
    width: 30%;
    display: flex;
    justify-content: center;
}

.card{
    border: 5px solid;
    width: 30rem;
    height: 30rem;
    align-items: center;
    box-sizing: border-box;
}

.card-header{
    text-align: center;
}

.card-image{

}